[submodule "vendor/llvm-hs-pretty"]
	path = vendor/llvm-hs-pretty
	url = https://github.com/jiriklepl/llvm-hs-pretty.git
	branch = llvm-12
[submodule "vendor/llvm-hs"]
	path = vendor/llvm-hs
	url = https://github.com/jiriklepl/llvm-hs.git
